#selectorContainer {
    display: flex;
    margin-left: 72px;
    margin-top: 41px;
}

#dateSelector {
    border: 2px solid #d2d2d2;
    width: 312px;
    height: 52px;
    border-radius: 7px 0px 0px 7px;
    display: flex;
    color: #333333;
    font-size: 15pt;
    font-family: Helvetica;
    align-items: center;
}

#calenderIcon {
    margin-left: 22px;
    margin-right: 14px;
}

#searchIcon {
    background-color: #f6f6f6;
    border: 2px solid #d2d2d2;
    border-left: none;
    padding-left: 18px;
    padding-right: 22px;
    border-radius: 0px 7px 7px 0px;
}

@media only screen and (max-width: 550px) {
    #selectorContainer {
        margin-left: 26px;
        margin-top: 26px;
    }

    #dateSelector {
        width: 293px;
    }
}