#emailTable {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

#emailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 72px;
}

#tableHeader {
    text-align: left;
    font-family: Helvetica;
    font-weight: bold;
    color: #666666;
    font-size: 12px;
    background-color: #f6f6f6;
}

#dateHeader {
    color: #111111;
}

tr {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

th {
    padding: 0px 19px;
}

td {
    padding: 0px 19px;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
td.sender { width: 14%; }
td.recips { width: 20%; }
td.extraRecips { width: 4%; }
td.subj { width: 47%; }
td.att { width: 4%; }
td.date { width: 11%; }