#emailTable {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

#emailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 72px;
}

#tableHeader {
    text-align: left;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12px;
    background-color: #f6f6f6;
}

#dateHeader {
    color: #111111;
}

tr {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

th {
    padding: 0px 19px;
    color: #666666;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12pt;
}

td {
    padding: 0px 19px;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td.sender { width: 14%; }
td.recips { width: 20%; }
td.extraRecips { width: 4%; }
td.subj { width: 47%; }
td.att { width: 4%; }
td.date { width: 11%; }


@media only screen and (max-width: 550px) {
    tr {
        border: none;
    }

    #emailTable {
        margin-top: 14px;
    }

    #emailContainer {
        margin: 0 0;
    }

    #tableHeader {
        text-align: center;
        height: 54px;
        font-size: 12px;
        border-top: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
    }

    th {
        color: #666666;
        padding: 0px 10px;
    }

    #dateHeader {
        color: #666666;
    }

    .spaceFixTop {
        height: 10px;
    }

    .spaceFixBottom {
        height: 10px;
        background-color: #f6f6f6;
    }

    #emailTable {
        background-color: #f6f6f6;
    }

    #headerRow {
        display: flex;
        height: 0px;
        border-top: none;
        border-bottom: none;
    }

    #headerRow > th {
        padding-top: 7px;
    }
}

#containerMobile {
    width: 100%;
    height: 124px;
}