@font-face {
    font-family: 'AlteHaasGrotesk';
    src:url('../../assets/fonts/AlteHaasGrotesk/Fonts/altehaasgroteskbold.ttf');
}

#emailCount {
    margin-left: 72px;
    margin-top: 29px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 13pt;
    color: #666666;
}

#countNumber {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 19pt;
}