tr {
    height: 54px;
    font-size: 19px;
    color: #333333;
}

.dateRow {
    color: #111111;
    font-weight: 700;
}

.angry-grid {

    display: grid; 
    gap: 0px;
    height: 100%;
        
    padding-right: 10px;

    grid-template-rows: 36% 24% 40%;
    grid-template-columns: 5% 4% 63% 18% 10%;

    border-bottom: 2px solid #e7e7e7;
}
.angry-grid:hover {
    background-color: #f7f9fa;
}

#item-0 {

grid-row-start: 1;
grid-column-start: 1;

grid-row-end: 4;
grid-column-end: 2;

}
#item-1 {

grid-row-start: 1;
grid-column-start: 2;

grid-row-end: 3;
grid-column-end: 3;

}
#item-1 > * {
    padding-left: 1px;
    padding-top: 21px;
}
#item-2 {

grid-row-start: 3;
grid-column-start: 2;

grid-row-end: 4;
grid-column-end: 6;

}

#item-3 {

grid-row-start: 1;
grid-column-start: 3;

grid-row-end: 2;
grid-column-end: 4;
margin-left: 10px;

}
#item-4 {

grid-row-start: 1;
grid-column-start: 4;

grid-row-end: 2;
grid-column-end: 6;

}
#item-4 > * {
    padding-right: 22px;
    text-align: right;
}
#item-5 {

grid-row-start: 2;
grid-column-start: 3;

grid-row-end: 3;
grid-column-end: 5;

margin-left: 10px;
}
#item-6 {

grid-row-start: 2;
grid-column-start: 5;

grid-row-end: 3;
grid-column-end: 6;

}
#item-6 > * {
    padding-right: 24px;
    text-align: right;
    margin-top: 3px;
}

.arrowIcon {
    padding-bottom: 1px;
    padding-left: 1px;
}

@media only screen and (max-width: 550px) {
    p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;   
    }
}